

.container{
    width: 100%;
    height: 100%;
    /* padding: 0;
    margin: 0; */
}

#navigation{
    float: left;
}

.container .profile-image
{
    margin-top: 80px;
    width: 400px;
    height: 600px;
    border: 2px solid #DC0505;
}
 /*#shortR{
    color: white;
} */
